.project-bg {
    background-color: var(--grey);
    margin-top: 1.5rem;
    padding: 4rem;
}

.project-head {
    font-size: var(--h1-font-size);
    color: black;
}

.project-items {
    display: flex;
    flex-direction: column;
}

.project-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
    padding: 2rem;
    background: var(--black);
    margin-bottom: 1rem;
}

.project-item:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.project-item-link{
    text-decoration: none;
    width: 28rem;
    height: auto;
    position: relative;
}

.project-item-link-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.project-item-video {
    display: none;
}

.project-item-link:hover .project-item-video{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.project-item-link:hover .project-item-link-img {
    display: none;
}

.project-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-item-head {
    font-size: var(--h1-font-size);
    color: white;
    margin-bottom: 2rem;
}

.project-item-desc{
    font-size: var(--normal-font-size);
    color: white;
}

.project-item-button {
    padding: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 25%;
    margin: 1rem 0rem;
}

.project-item-button:hover {
    background-color: rgb(175, 174, 174);
}

@media screen and (max-width: 970px) {
    .project-bg {
        padding: 2rem;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-item-link-img {
        width: 75%;
        height: 75%;
    }

    .project-item-desc {
        padding: 1rem;
    }
}