.education-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    padding-top: 6rem;
    margin: 2rem;
}

.education-head {
    font-size: var(--h1-font-size);
}

.education-subhead {
    font-size: var(--h3-font-size);
}

.education-text {
    font-size: var(--normal-font-size);
}

.education-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
    box-shadow: 5px 2px 5px black;
    margin: 1.4rem;
}

.education-item:hover {
    transform: scale(1.01);
}

.img-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media screen and (max-width: 968px) {
    .education-container {
        padding: 0rem;
    }

    .education-item {
        padding: 0.5rem;
    }

    .img-logo {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
}