.resume-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--white);
    grid-template-areas: "sidebar content"
}

@keyframes scrollDown {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.resume-box.scrolling {
    animation: scrollDown 1s forwards;
}


.resume-subbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-right: 2px solid black;
    padding: 3rem;
    margin: 1.5rem;
    margin-top: 5rem;
}

.resume-text {
    font-size: var(--h3-font-size);
    padding: 1rem;
}

.resume-text a{
    text-decoration: none;
    color: black;
}

.resume-text a:hover {
    color: pink;
}

.scroller {
    padding: 2rem;
    grid-area: content;
}


@media screen and (max-width: 968px){
    .resume-subbox {
        display: none;
    }
    .resume-text {
        padding: 0.5rem;
    }
    .scroller {
        padding: 0.5rem;
    }
}