.carousel-box {
    padding: 4rem;
    background-color: var(--dark-gray);
}

.carousel-head {
    color: var(--white);
    font-size: var(--h1-font-size);
}


@media screen and (max-width: 970px) {
    .carousel-box {
        padding: 1.5rem;
    }
}