@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
    --black: #151515;
    --dark-gray: #242424;
    --green: #4EE1A0;
    --gray: #D9D9D9;
    --white: #FFFFFF;
    --red: #ff6f5b;
    --big-font-size:2.8rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size: 1rem;
    --small-font-size:.813rem;
    --small-font-size:.75rem;
} 

/* font sizes for large Devices */
@media screen and(min-width:968px){
    :root{
        --big-font-size:4rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --small-font-size:.813rem;
    } 
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

